<%- include('partials/header') -%>
    <h1>Home</h1>  
    <p><%= paragraph%></p>
    <% for(post of comments){%>
    <h1><%= post.title%></h1>
    <p><%= post.body%></p>
    <%}%>
<%- include('partials/footer') -%>
